.resetForm {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
  border-style: solid;
  border-color: slategrey;
}

.noError{
  text-align: center;
  color: white;
  font-size: 13px;
}

.errorMessage{
  text-align: center;
  color: red;
  font-size: 13px;
}