.icon-size {
  width: 130px;
  border-style: solid;
  border-color: slategrey;
  border-width: 1px;
  text-align: center;
}

.icon-space {
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon-container {
  padding: 40px;
}

figcaption{
 font-size: 12px;
}

.app-info{
  text-align: center;
}